.headerfeature {
  display: flex;
}

.headerfeature h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 115.1%;
  width: 420px;
  height: 69px;
  text-decoration: none;
}

.featured {
}

.viewall {
  margin-left: 500px;
  margin-top: 25px;
}

.viewall a {
  font-size: 60px;
}

.featured-jobs {
  margin-left: 90px;
  margin-top: 25px;
}

.headerfeature a {
  text-decoration: none;
}

.big-box-1 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.box-1 {
  width: 400px;
  max-width: 500px;
  margin: 0 auto;
  height: 180px;
  border: 3px solid #0c09aa;
  background: #fff;
  padding: 20px;
  transition: transform 0.3s ease, cursor 0.3s ease; /* Add transition for a smooth effect */
}

/* Add hover effect */
.box-1:hover {
  transform: scale(1.1); /* Enlarge scale on hover */
  cursor: pointer; /* Change cursor on hover */
}

.box-1-p1 {
  color: #356ae6;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 115.1%;
  margin-top: 45px;
}

.box-1-p2 {
  color: #d9d9d9;
  text-align: center;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.1%;
}
