.certify {
  height: 400px;
  background-image: url("../Images/Subtract.png");
  background-size: cover;
}

.footer-start {
  padding-top: 120px;
  margin-left: 6%; /* Adjust margin as needed */
}

.certify-image {
  margin-left: -980px;
}

.footer-start p {
  width: 522px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 0; /* Set margin-left to 0 to start from the left */
  text-align: left; /* Align the text to the left */
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 150px !important;
  margin-top: 60px;
}

.vertical-line {
  margin-top: -380px;
  margin-bottom: 30px;
}
.quick-links-ul li {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: left;
}

.quick-links-h3 {
  color: #fff;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 170px;
}
.quick-links {
  margin-top: -250px;
}

.quick-links-ul a {
  text-decoration: none;
  margin-left: 680px;
  margin-top: -100px !important;
}
.quick-links-ul {
  list-style-type: none; /* Remove default list item markers (dots) */
  padding: 0;
}

.quick-links-ul li {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: left;
}

li ::marker {
  display: none;
}
.contact-us-footer h3 {
  color: #fff;
  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: -28px;
}
.phone-footer {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}

.email-footer {
  color: #fff;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px; /* Add margin-bottom for spacing */
}
.contact-us-footer {
  margin-left: 800px;
  margin-top: -250px;
}
