.header-ul {
  list-style-type: none;
  padding: 0;
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  justify-content: space-between;
  font-family: Manrope;
  font-size: 30px;
}
.header-ul li,
a {
  color: #fff;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 155px;
  margin-top: 2.5%;
  text-decoration: none;
}
.header1 {
  height: 80px;
  background-color: #0c09aa;
}
