.hero-1{
    height: 705px;
    width: 100%;
    background-color: #0C09AA;
    
}

.left{
    text-align: left;
    margin-left: 150px;
    margin-top: 110px;
}
.left p{
    width: 570px;
    color: #FFF;
font-family: Manrope;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.left h1{
    width: 650.653px;
    color: #FFF;
font-family: Manrope;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;    
}
.right img{
    width: 500px;
    margin-top: 50px;
}
.main{
    display: flex;
}
.headerfeature{
    background: linear-gradient(96deg, #0C09AA 2.04%, #3C39D4 88.4%);
    height: 115px;
}