.job-description-big {
  width: 1321px;
  height: 1689px;
  border: 2px solid #0c09aa;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.info-item1-12 {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.pergunta-123 {
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pergunta-123 {
  display: block;
  width: 200px;
  text-align: left;
  margin-left: 35px;
}
.title-position {
  color: #000;
  font-family: Manrope;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 125px;
  margin-top: 65px;
}
.company-position {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 139px;
}
.first-flex1 {
  display: flex;
  margin-top: -20px;
}
.location-position {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 139px;
}
.date-position {
  color: #5c5c5c;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 30px;
}
.reach-out {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 110px;
}
.job-description {
  color: #000;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.job-overview {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.job-text {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 901px;
}
.responsibility-1 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-top: -15px;
}
.responsibility-2 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-top: -15px;
}
.responsibility-3 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-top: -15px;
}
.responsibility-4 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-top: -15px;
}
.responsibility-5 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-top: -15px;
}
.qualification-1 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 780px;
  margin-top: -20px;
}
.qualification-2 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 780px;
  margin-top: -20px;
}
.qualification-3 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 780px;
  margin-top: -20px;
}
.qualification-4 {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 780px;
  margin-top: -20px;
}
.skills {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 780px;
}
.responsibilities {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.qualifications {
  color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.go-next {
  margin-left: 110px;
}
