.job-post-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.label123 {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.categoryname {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-post-123,
.text-area-post-123,
.select-edit-123 {
  /* Added select here */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
