.view-contact-button {
  margin-top: 20px; /* Adjust the margin as needed */
  position: absolute;
  right: 10%;
  top: 24%;
}

.view-contact-button button {
  background-color: #0c09aa; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding for the button */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.view-contact-button button:hover {
  background-color: #45a049; /* Darker green on hover */
}
